@charset "utf-8";
@import url("https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css");

*{margin: 0; padding: 0; font-size: 1em; color: #000;}
body {font-family: 'Nanum Gothic', sans-serif; background: #fff;}
.table {text-align: center; border: 1px solid #000;}
.table h1 {border-bottom: 1px solid #000; padding: 10px 0; font-size: 1.5em;}
.h2 {font-size: 1.5em; font-weight: 500; border-top: 1px solid #000; padding: 5px;}
.h3 {font-size: 1.2em; font-weight: 300; padding: 5px; text-align: left;}
.h4 {font-size: 1.2em; font-weight: bold;}
.table .h2:first-child {border-top: none 0;}
.point {color: #DC143C;}
.sub_point {color: blue;}
.fc {padding-left: 20px; position: relative; margin-top: 2px;}
.fc:before {content: '*'; display: block; position: absolute; left: 0; top: 1px; font-size: 12px;}
.basic_table {text-align: center; border-collapse: collapse; table-layout:fixed; width: 100%;}
.basic_table td {border: 1px solid #000; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 5px 10px;}
.basic_table td.last {text-align: left;}

.mo_table {border: 1px solid #000; margin: .2em;}
.mo_table_cell {border-top: 1px solid #000; padding: .5em; font-size: 1.5em; width: 100%; webkit-box-sizing: border-box;
-moz-box-sizing: border-box; box-sizing: border-box;}
.mo_table_cell:first-child {border-top: none 0;}
.mo_table_cell .mo_table_cell_txt {display: inline-block; width: 31.333333%; font-size:1.2em;}
.mo_table_cell .mo_table_cell_txt:first-child {margin-left: 0;}

.pc {display: block;}
.mo {display: none;}
.left {text-align: left;}

.bold {font-weight: bold;}

.un_line {text-decoration: underline;}
.gray {background: #A9A9A9;}
.green {background: #90EE90;}
.yellow {background: #F2F5A9;}

.w25 {width: 25%; display: inline-block; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.w50 {width: 50%; display: inline-block; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

.font_0 {font-size: 0;}
.font_15 {font-size: 15px;}

.PaA_5 {padding: 5px;}
.PaA_10 {padding: 10px;}
.PaL_10 {padding-left:10px;}
.PaL_15 {padding-left:15px;}


.last {text-align: right; padding: 0 20px 20px 0; font-size: 20px;}
.last span {display: inline-block; margin-right: 10px;}


.kb_list {padding: 2em; font-size: 1em;}
.kb_list li {font-size: 1.2em; color: #000; margin-top: .5em;}
.kb_list li:first-child {margin-top: 0;}
.kb_list img {display: inline-block;}

.div_second {margin-top: 1em;}

.pic, .pic img {width:100%;}

.title {width:100%; font-size:0; border-bottom:1px solid #000; }
.title_box {display:inline-block; font-weight:bold;}

.box_money {background:#F0E68C; padding:10px; text-align:left; margin-top:10px; border-top:1px solid #000;}
.box_money:first-child {margin-top:0; border-top:none 0;}
.box_title {font-weight:bold;}



	@media all and (min-width:320px) {
		* {font-size: 1.3em;}
		.kb_list li {font-size: 2em; margin-right: 1.5em;}
		.pc {display: none;}
		.mo {display: block;}
		
		.point {font-size: 1em;}

		.table h1 {font-size: 1.1em;}
		.table h2 {font-size: 1.5em;}

		.font_15 {font-size: 60px;}
		.font_15 p {font-size: 1.2em;}
		
		.mo_table_cell .mo_table_cell_txt {width:30.3333333%; font-size:1em;}
	}

	@media all and (min-width:425px) {
		.pc {display: none;}
		.mo {display: block;}

	}

	@media all and (min-width:768px) {
		.pc {display: none;}
		.mo {display: block;}
	}

	@media all and (min-width:1024px) {
		.pc {display: none;}
		.mo {display: block;}
	}

	@media all and (min-width:1440px) {
		.pc {display: block;}
		.mo {display: none;}
		
		.table.pc h1 {font-size: 1.2em;}
		.table.pc h2 {font-size: 1.2em; padding: 10px 0;}
		.table.pc thead th {font-size: .5em;}
		.table.pc tbody td {font-size: .7em;}

		.table_sub {font-size: .8em; width: 100%;}
		.table_sub sup {font-size: .5em; color: #DC143C;}
		.table_sub + .point {font-size: .5em; text-align: left; margin: 10px 0;}
	}

	@media print {
		body {padding: 0; background:#fff;}
		title {display: none;}
		.fc {margin-top: 1px;}
		.h2:last-child {letter-spacing: -.5px;}
	}
